# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Examples/*/pioasm
Examples/*/pico-sdk
Examples/*/my_project.bin
Examples/*/my_project.dis
Examples/*/my_project.uf2
Examples/*/generated
Examples/*/elf2uf2
Examples/*/cmake_install.cmake
Examples/*/_deps
Examples/*/Makefile
Examples/*/CMakeFiles
Examples/*/CMakeCache.txt
.DS_Store
PCB/~SimpleDAC.kicad_pcb.lck
/PCB/SimpleDAC-backups
